
body{
    margin: 0;
    padding: 0;
    background-size:cover;
    background-attachment: fixed;
}
/* Top Manu Bar */
.top-menu-bar{
    color:white; 
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.top-menu-bar2{
    color:white; 
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.top-menu-bar3{
    font-size: 14px;font-family: 'Lato', sans-serif;
}

/* Mega Menu */
.menu-area{
    position: static;
}
.mega-area{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
.dropdown-item{
    padding: 5px;
}
h5{
    font-family: lato;font-family: 'Lato', sans-serif;
    color: #222222;
}

.navbar{
    margin-top: 2px;
}
.navbar-nav .nav-item .nav-link{
    color: #000;
    font-size: 16px;
    font-weight: 600;
}



/* Carousel */

.carousel-indicators .indicator-color{
    background-color: #005E00;
}
.carousel-inner{
width:100%;
max-height: 300px ;
margin-bottom:50px;
}
.carousel-indicators {
bottom:-40px;
}
/* Circle Image */
.circle-image-caption{
    font-size: 12px; 
    font-family: 'Lato', sans-serif;

}

/* Product */
a, a:hover,a:visited, a:focus {
    text-decoration:none;
}
.top-discount-bar{
    color:white;font-size: 12px;font-family: 'Lato', sans-serif;;
}
.product-description{
    color: #666666;font-size: 12px; font-family: 'Lato', sans-serif;;
}
.currency-name{
    color: #222222;font-size: 12px; font-family: 'Lato', sans-serif;;
}
.currency-value{
    font-size: 16px; font-family: 'Lato', sans-serif;
}
.currency-line{
    color: #222222;font-size: 8px; font-family: 'Lato', sans-serif; text-decoration: line-through;
}
.value-line{
    color: #222222;font-size: 11px; font-family: 'Lato', sans-serif;text-decoration: line-through;
}
.image-tag{
    width: 40%; height:17px
}
.off-value{
    color: #222222;background-color: #bde0ae; font-size: 11px; font-family: 'Lato', sans-serif;text-decoration: line-through;
}


/* carousel product */
.carousel-inner-product{
    width:100%;
    max-height: max-content;
    /* margin: 0; */
    }




/* ectra */
.navbar {
    padding:0rem;
    margin-bottom:2rem;
  }
  
  .dropdown .dropdown-menu {
    border-radius:0;
   }
  
  
  /* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    border-radius:0;
   }
  }

  .hide {
      display: none;
  }
  