

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    color: #222222
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: none;
    margin-bottom: 0px
}

p {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a:active {
    position: relative;
    color: #FF6347
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f
}

p a:hover::after {
    opacity: 0.2
}



h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}



h1,
h2,
h3,
h4,
h6 {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}


.form-control {
    color: #db5246
}

section {
    display: block;
    position: relative;
    box-sizing: border-box
}

.clear {
    clear: both
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.fill_height {
    height: 100%
}
/* Header with Search */
.withsearch {
    background-color: #005E00;    
  }
  @media (max-width: 767.98px) {
    .withsearch {
        background-color: #fff;
    }
  }
  .fixednow{
    position: fixed;
    z-index: 2
  }
  .fixednot{
    position: relative;
    z-index: 1;
  }
  
  .withsearch .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    white-space: nowrap;
    height: 65px;
  }
  
  .withsearch .header-menu .navbar-brand {
    width: 10%;
  }
  
  .withsearch .header-menu .navbar-brand img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
  }
  
  @media (max-width: 767.98px) {
    .withsearch .header-menu .navbar-brand {
      width: 25%;
      margin-right: 10px;
    }
  }
  
  .withsearch .header-menu .search-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 36px;
    max-width: 750px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 70%;
  }
  
  .withsearch .header-menu .search-wrapper .input-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    border-right: none;
  }
  @media (min-width:767.98px){
    .withsearch .header-menu .search-wrapper .input-wrapper{
        border: none;
    }
  }
  
  .withsearch .header-menu .search-wrapper .input-wrapper input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px 0 8px 16px;
  }
  
  .withsearch .header-menu .search-wrapper .input-wrapper input:focus {
    outline: none;
  }
  
  .withsearch .header-menu .search-wrapper .btn-main-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    border: 1px solid #e5e5e5;
    border-left: none;
    background-color: #fff;
  }
  .withsearch .header-menu .search-wrapper .btn-main-search:focus{
      box-shadow: none;
  }

  
  .withsearch .header-menu .cart-like .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .withsearch .header-menu .cart-like .navbar-nav .nav-item {
    margin: 0 6px;
  }
  
  @media (max-width: 767.98px) {
    .withsearch .header-menu .cart-like {
      display: none;
    }
  }
  
  @media (max-width: 767.98px) {
    .withsearch .header-menu {
        padding: 0 8px;
        height: 47px;
        margin: 0;
    }
  }
  
  .withsearch .header-menu .main-account-btn {
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding-right: 24px;
    margin-right: 0;
    border-right: 1px solid #e5e5e5;
    border-radius: 0;
  }
  
  .withsearch .header-menu .main-account-btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  /*# sourceMappingURL=custom.css.map */

/* MAin Section Continer */
.super_container {
    width: 100%;
    overflow: hidden;
}
@media only screen and (max-width:575.98px){
    .super_container{
        /* overflow-y: scroll; */
        padding-bottom: 74px;
    }
    
}
.owl-carousel{
    padding: 10px;
}
.cart{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}
.cart_icon{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-style: normal;
}
.cart_icon i{
font-size: 28px;
}
.cart_icon.wishlist-head{
    margin-right: 16px;
    margin-top: 6px;
}
.cart_icon.wishlist-head i{
    font-size: 22px;
    }
.prlx_parent {
    overflow: hidden
}

.prlx {
    height: 130% !important
}

.nopadding {
    padding: 0px !important
}

.button {
    display: inline-block;
    background: #005e00;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.header {
    position: relative;
    width: 100%;
    z-index: 1000;
}

.top_bar {
    width: 100%;
    height: 48px;
    background: #003b00;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    z-index: 2
}
#mobile-cursour{
display: none;
}
.header.scrolled .top_bar {
    display: none
}

.top_bar_contact {
    display: inline-block
}

.top_bar_contact_item {
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px
}

.top_bar_contact_item:not(:first-child) {
    margin-right: 0px
}

.top_bar_contact_item a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.top_bar_contact_item a:hover {
    color: #8a8a8a
}

.top_bar_contact_item:last-child {
    margin-right: 0px
}

.top_bar_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px)
}

.top_bar_menu {
    display: inline-block
}

.top_bar_dropdown li {
    padding-left: 13px;
    padding-right: 13px
}

.standard_dropdown li {
    display: inline-block;
    position: relative;
    height: 56px
}

.standard_dropdown li li {
    display: block;
    width: 100%
}

.standard_dropdown li li a {
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f2f2;
    font-size: 16px
}

.standard_dropdown li:last-child a {
    border-bottom: none
}

.standard_dropdown li.hassubs>a i {
    display: inline-block;
    margin-left: 5px
}

.standard_dropdown li a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 56px;
    white-space: nowrap;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.standard_dropdown li a:hover {
    color: #005e00
}

.standard_dropdown li a i {
    display: none;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    font-size: 12px
}

.standard_dropdown li ul {
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    width: auto;
    visibility: hidden;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1
}

.standard_dropdown li:hover>ul {
    top: 100%;
    visibility: visible;
    opacity: 1
}

.standard_dropdown ul ul {
    left: 100%;
    top: 0 !important
}

.top_bar_user {
    display: inline-block;
    margin-left: 35px
}

.user_icon {
    display: inline-block;
    margin-right: 7px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    width: 15px
}

.user_icon img {
    width: 100%
}

.top_bar_user div {
    display: inline-block
}

.top_bar_user div:nth-child(2) {
    margin-right: 21px
}

.top_bar_user div:nth-child(2)::after {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -13px;
    width: 1px;
    height: 17px;
    background: rgba(0, 0, 0, 0.1);
    content: ''
}

.top_bar_user a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.top_bar_user a:hover {
    color: #8a8a8a
}

.header_main.mobile_header{
    display: none;
}

.header_main {
    background-color: #005e00;
    z-index: 1
}
@media (max-width:991px){
    .header_main {
        background-color: #ffffff;
    }   
}

.header.scrolled .header_main {
    display: none
}

.header_main_item {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.logo_container {
    height: 80px
}

.logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.logo a {
    font-size: 36px;
    font-weight: 500;
    color: #005e00
}
.logo img {
    width: 80%;
}

.header_search {
    height: 90px
}

.header_search_content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.header_search_form_container {
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 8px
}

.header_search_form {
    width: 100%;
    height: 100%;
    border: none;
}

.header_search_input {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 10px;
    color: #7f7f7f;
    float: left;
    border-radius:8px ;
}

.header_search_input::-webkit-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input:-moz-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input::-moz-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input:-ms-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input::input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.custom_dropdown {
    width: calc((100% - 50px) * 0.399);
    height: 50px;
    float: left;
    padding-left: 26px
}

.custom_dropdown::before {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 28px;
    background: #e5e5e5;
    content: ''
}

.custom_dropdown_list i {
    display: inline-block;
    color: #a3a3a3;
    font-size: 10px;
    margin-left: 3px;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px)
}

.custom_dropdown_placeholder {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #a3a3a3;
    line-height: 48px;
    cursor: pointer
}


.custom_list {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 75px;
    left: -15px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: all 0.2s ease
}

.custom_list.active {
    visibility: visible;
    opacity: 1;
    top: 50px;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease
}

.custom_list li {
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFFFF
}

.custom_list li a {
    display: block;
    color: #a3a3a3;
    line-height: 35px;
    border-bottom: solid 1px #ededed;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.custom_list li a:hover {
    color: #005e00
}

select {
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    color: #7b00ff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

select:hover {
    cursor: pointer
}

select option {
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none
}

.header_search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: #005e00;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

/* .wishlist_cart {
    height: 90px
} */

.wishlist {
    margin-right: 50px
}

.wishlist_icon img {
    width: 100%
}

.wishlist_content {
    margin-left: 14px
}

.wishlist_text a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.wishlist_text a:hover {
    color: #222222
}

.wishlist_count {
    margin-top: -2px;
    color: #a3a3a3;
    font-size: 14px
}

.cart_count {
    position: absolute;
    bottom: 12px;
    right: -9px;
    width: 17px;
    height: 17px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
}

.cart_count span {
    display: block;
    line-height: 16px;
    font-size: 10px;
    color: #222222;
}

.cart_icon img {
    width: 100%
}

.cart_content {
    margin-left: 28px
}

.cart_text a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.cart_text a:hover {
    color: #222222
}

.cart_price {
    font-size: 14px;
    color: #a3a3a3;
    margin-top: -2px
}

.main_nav {
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF
}

.header.scrolled .main_nav {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.main_nav_content {
    width: 100%;
    height: 60px
}

.cat_menu_container {
    width: 293px;
    height: 100%;
    background: #005e00;
    padding-left: 35px;
    cursor: pointer;
    z-index: 1
}

.cat_menu_title {
    height: 100%
}

.cat_burger {
    width: 18px;
    height: 14px
}

.cat_burger span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF
}

.cat_burger span:nth-child(2) {
    top: 6px
}

.cat_burger span:nth-child(3) {
    top: 12px
}

.cat_menu_text {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 20px
}

.cat_menu_container ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease
}

.cat_menu_container>ul {
    padding-top: 13px
}

.cat_menu_container:hover .cat_menu {
    visibility: visible;
    opacity: 1
}

.cat_menu li {
    display: block;
    position: relative;
    width: auto;
    height: 46px;
    border-bottom: solid 1px #f2f2f2;
    padding-left: 35px;
    padding-right: 30px;
    white-space: nowrap
}

.cat_menu li.hassubs>a i {
    display: block
}

.cat_menu li a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 46px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.cat_menu li a:hover {
    color: #005e00
}

.cat_menu li a i {
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 12px
}

.cat_menu li ul {
    display: block;
    position: absolute;
    top: 35px;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1)
}

.cat_menu li:hover>ul {
    top: 0;
    visibility: visible;
    opacity: 1
}

.main_nav_dropdown li {
    margin-right: 35px
}

.main_nav_dropdown li:last-child {
    margin-right: 0px
}

.main_nav_dropdown li a {
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 60px
}

.main_nav_dropdown li li {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px
}

.menu_trigger_container {
    display: none;
    width: auto;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer
}

.menu_trigger {
    height: 100%
}

.menu_burger_inner {
    display: inline-block
}

.menu_trigger_text {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 16px
}

.page_menu {
    margin-top: 0px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.page_menu_content {
    height: 0px;
    background: #005e00;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden
}

.page_menu_search {
    display: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px
}

.page_menu_search_input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 25px
}

.page_menu_item {
    display: block;
    position: relative;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    
}

.page_menu_item>a {
    display: block;
    color: #FFFFFF;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.page_menu_item>a:hover {
    color: #b5aec4
}

.page_menu_item a i {
    display: none;
    margin-left: 8px
}

.page_menu_item.has-children>a>i {
    display: inline-block
}

.page_menu_selection {
    margin: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    z-index: 1
}

.page_menu_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px
}

.page_menu_selection li a {
    display: block;
    color: #FFFFFF;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease
}

.page_menu_selection li a:hover {
    color: #b5aec4
}

.page_menu_selection li:last-child a {
    border-bottom: none
}

.menu_contact_item {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
    color: #FFFFFF
}

.menu_contact_item:not(:first-child) {
    margin-right: 0px
}

.menu_contact_item a {
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.menu_contact_item a:hover {
    color: #8a8a8a
}

.menu_contact_item:last-child {
    margin-right: 0px
}

.menu_contact_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px)
}

.owl-item {
    margin: 0px 3px 0px 3px;
}

.carousel-indicators li {
    background-color: #003b00 !important;
}  

/*///////////////////////////////////////////////////////*/
/*                      MAIN BODY                        */    
/*///////////////////////////////////////////////////////*/
/* Carousel */

.top-menu-bar{
    color:white; 
    font-size: 12px;

}

.top-menu-bar2{
    color:white; 
    font-size: 14px;

}
.top-menu-bar3{
    font-size: 14px;
}

/* Mega Menu */
.menu-area{
    position: static;
}
.mega-area{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
.dropdown-item{
    margin: 8px 0;
}
h5{
    color: #222222;
}

.navbar{
    margin-top: 2px;
}
.navbar-nav .nav-item .nav-link{
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

/* Carousel */

.carousel-indicators .indicator-color{
    background-color: #005E00;
}
.carousel-inner{
width:100%;
margin-bottom:25px;
}

.product.carousel-inner{
    width:100%;
    min-height: 300px;
    margin-bottom:50px;
}
.carousel-indicators {
bottom:-40px;
}


/* Circle Image */
.circle-image-caption{
    font-size: 10px; 
    font-weight: 600;

}

/* Product */
a, a:hover,a:visited, a:focus {
    text-decoration:none;
}
.top-discount-bar{
    color:white;font-size: 12px;
    
}
.top-discount-bar-color{
    background-color: #003b00;
}
.descriptio-div{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.product-description{
    display: block;
    color: #666666;
    font-size: 12px;
    position: relative;
    line-height: 1.4rem;
    height: calc(2.8rem);
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.currency-name{
    color: #222222;font-size: 12px; 
}
.currency-value{
    font-size: 16px; 
}
.currency-line{
    color: #222222;font-size: 8px; 
}
.value-line{
    color: #222222;font-size: 11px; 
}
.image-tag{
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
}
.off-value{
    color: #222222;background-color: #bde0ae; font-size: 11px; 
}


/* carousel product */
.carousel-inner-product{
    width:100%;
    height: auto;
    max-height: 330px;
    /* margin: 0; */
}
 

/*
*   
 __________________________
|       SHOP PAGE          |
''''''''''''''''''''''''''''
*
*/

/** The Magic Breadcrums**/
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
.bc-icons .breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.bc-icons .breadcrumb-item.active {
    color: #eeeeee; }

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none; } 
.bc-icons-2 .breadcrumb-item.active {
    color: #455a64; } 


.light-font .breadcrumb-item + .breadcrumb-item::before {
    color: #fff; }
.light-font .breadcrumb-item.active {
    color: #cfd8dc; }

.dark-font .breadcrumb-item + .breadcrumb-item::before {
    color: #222; }
.dark-font .breadcrumb-item.active {
    color: #005e00; 
} 


/* Arrow Breadcrumb */

.breadcrumb-arrow .breadcrumb-item,
.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item span {
    display: inline-block;
    vertical-align: top;
}

.breadcrumb-arrow .breadcrumb-item:not(:first-child) {
    margin-left: -1px;
}

.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item:before {
    padding: 0;
    content: "";
}

.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item.active {
    height: 30px;
    padding: 0 10px 0 25px;
    line-height: 30px;
}

.breadcrumb-arrow .breadcrumb-item a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #005e00;
    border: 1px solid #005e00;
}

.breadcrumb-arrow .breadcrumb-item a:after,
.breadcrumb-arrow .breadcrumb-item a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.breadcrumb-arrow .breadcrumb-item a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #005e00;
    border-left-style: solid;
    border-left-width: 11px;
}

.breadcrumb-arrow .breadcrumb-item a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #f8f8f8;
}

.breadcrumb-arrow .breadcrumb-item a:focus,
.breadcrumb-arrow li a:hover {
    background-color: #2d832d;
    border: 1px solid #2d832d;
}

.breadcrumb-arrow .breadcrumb-item a:focus:before,
.breadcrumb-arrow li a:hover:before {
    border-left-color: #2d832d;
}

/* .breadcrumb-arrow li.active:after,
.breadcrumb-arrow li.active:before {
    border-left-color: #2494be;
} */

/* Catagory */
.catagory-drop{
    color:#222222; 
    font-size: 14px;

}
.catagory-title{
    font-size: 12px; color:#666666;
}

.burger_menu_zee {
    display:none;
}
.design-arrow{
    margin: 0;
    padding: 0;
}
.design-arrow .owl-theme .owl-controls .owl-buttons .owl-prev{
    position: absolute;
    left: 0;
    top: -220px;
    z-index: 999;
    background: #869791;
    opacity: 1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 24px;
}
.design-arrow .owl-theme .owl-controls .owl-buttons .owl-next{
    position: absolute;
    right: 0;
    top: -220px;
    z-index: 999;
    background: #869791;
    opacity: 1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 24px;
}
.container-fluid{
/*    max-width: 1440px;*/
}
.container-fluid.bg-light {
    background-color:#f7f7fa!important ; /*#e5efe5!important; */
}

.bg-green {
    background-color: #9ec1a0 !important;
}

.product_item {
    width:auto; height:fit-content; max-width: 162px;margin: 1px;
}

#preloader{overflow:hidden;background-color:#fff;height:100%;left:0;position:fixed;top:0;width:100%;z-index:999999;}
.classy-load{-webkit-animation:2000ms linear 0s normal none infinite running classy-load;animation:2000ms linear 0s normal none infinite running classy-load;background:transparent none repeat scroll 0 0;border-color:#dddddd #dddddd #111111;border-radius:50%;border-style:solid;border-width:2px;height:40px;left:calc(50% - 20px);position:relative;top:calc(50% - 20px);width:40px;z-index:9;}
@-webkit-keyframes classy-load{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes classy-load{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

.navigation{width:100%;height:70px;display:table;position:relative;font-family:inherit;background-color:#fff}
.navigation *{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
/*.navigation-portrait{height:48px}*/
.navigation-fixed{position:fixed;top:0;left:0;z-index:19998}
.navigation-hidden{width:0!important;height:0!important;margin:0!important;padding:0!important}
.align-to-right{float:right}
.nav-header{float:left}
.navigation-hidden .nav-header{display:none}
.nav-brand{line-height:70px;padding:0;color:#343a40;font-size:24px;text-decoration:none!important}
.nav-brand:hover,.nav-brand:focus{color:#343a40}
.navigation-portrait .nav-brand{font-size:18px;line-height:48px}
.nav-logo>img{height:48px;margin:11px auto;padding:0 15px;float:left}
.nav-logo:focus>img{outline:initial}
.navigation-portrait .nav-logo>img{height:36px;margin:6px auto 6px 15px;padding:0}
.nav-toggle{width:30px;height:30px;padding:6px 2px 0;position:absolute;top:50%;right:15px;display:none;cursor:pointer}
.nav-toggle:before{content:"";position:absolute;width:24px;height:2px;background-color:#fff;border-radius:10px;box-shadow:0 .5em 0 0 #ffffff,0 1em 0 0 #ffffff}
.navigation-portrait .nav-toggle{display:block}
.navigation-portrait .nav-menus-wrapper{width:320px;height:100%;top:0;left:-400px;position:fixed;background-color:#fff;z-index:20000;overflow-y:auto;-webkit-overflow-scrolling:touch;-webkit-transition-duration:.2s;transition-duration:.2s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right{left:auto;right:-400px}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open{left:0}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open{left:auto;right:0}
.nav-menus-wrapper-close-button{width:30px;height:40px;margin:10px 7px;display:none;float:right;color:#343a40;font-size:26px;cursor:pointer}
.navigation-portrait .nav-menus-wrapper-close-button{display:block}
.nav-menu{margin:0;padding:0;list-style:none;line-height:normal;font-size:0}
.navigation-portrait .nav-menu{width:100%}
.navigation-landscape .nav-menu.nav-menu-centered{float:none;text-align:center}
.navigation-landscape .nav-menu.nav-menu-centered>li{float:none}
.nav-menu>li{display:inline-block;float:left;text-align:left}
.navigation-portrait .nav-menu>li{width:100%;position:relative;border-top:solid 1px #f0f0f0}
.navigation-portrait .nav-menu>li:last-child{border-bottom:solid 1px #f0f0f0}
.nav-menu+.nav-menu>li:first-child{border-top:none}
.nav-menu>li>a{height:70px;padding:26px 25px;display:inline-block;text-decoration:none;font-size:14px;color:#343a40;-webkit-transition:color .3s,background .3s;transition:color .3s,background .3s}
.navigation-portrait .nav-menu>li>a{width:100%;height:auto;padding:12px 25px 12px 26px}
.nav-menu>li:hover>a,.nav-menu>li.active>a,.nav-menu>li.focus>a{color:#27ae60}
.nav-menu>li>a>i,.nav-menu>li>a>[class*=ion-]{width:18px;height:16px;line-height:16px;-webkit-transform:scale(1.4);transform:scale(1.4)}
.nav-menu>li>a>[class*=ion-]{width:16px;display:inline-block;-webkit-transform:scale(1.8);transform:scale(1.8)}
.navigation-portrait .nav-menu.nav-menu-social{width:100%;text-align:center}
.nav-menu.nav-menu-social>li{text-align:center;float:none;border:none!important}
.navigation-portrait .nav-menu.nav-menu-social>li{width:auto}
.nav-menu.nav-menu-social>li>a>[class*=ion-]{font-size:12px}
.nav-menu.nav-menu-social>li>a>.fa{font-size:14px}
.navigation-portrait .nav-menu.nav-menu-social>li>a{padding:15px}
.submenu-indicator{margin-left:6px;margin-top:6px;float:right;-webkit-transition:all .2s;transition:all .2s}
.navigation-portrait .submenu-indicator{width:54px;height:44px;margin-top:0;position:absolute;top:0;right:0;text-align:center;z-index:20000}
.submenu-indicator-chevron{height:6px;width:6px;display:block;border-style:solid;border-width:0 1px 1px 0;border-color:transparent #70798b #70798b transparent;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:border .2s;transition:border .2s}
.navigation-portrait .submenu-indicator-chevron{position:absolute;top:18px;left:24px}
.nav-menu>li:hover>a .submenu-indicator-chevron,.nav-menu>.active>a .submenu-indicator-chevron,.nav-menu>.focus>a .submenu-indicator-chevron{border-color:transparent #967adc #967adc transparent}
.navigation-portrait .submenu-indicator.submenu-indicator-up{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.nav-overlay-panel{width:100%;height:100%;top:0;left:0;position:fixed;display:none;z-index:19999}
.no-scroll{width:100%;height:100%;overflow:hidden}
.nav-search{height:70px;float:right;z-index:19998}
.navigation-portrait .nav-search{height:48px;padding:0 10px;margin-right:52px}
.navigation-hidden .nav-search{display:none}
.nav-search-button{width:70px;height:70px;line-height:70px;text-align:center;cursor:pointer;background-color:#fbfcfd}
.navigation-portrait .nav-search-button{width:50px;height:48px;line-height:46px;font-size:22px}
.nav-search-icon{width:14px;height:14px;margin:2px 8px 8px 4px;display:inline-block;vertical-align:middle;position:relative;color:#343a40;text-align:left;text-indent:-9999px;border:2px solid;border-radius:50%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-search-icon:after,.nav-search-icon:before{content:'';pointer-events:none}
.nav-search-icon:before{width:2px;height:11px;top:11px;position:absolute;left:50%;border-radius:0 0 1px 1px;box-shadow:inset 0 0 0 32px;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.nav-search-button:hover .nav-search-icon{color:#27ae60}
.nav-search>form{width:100%;height:100%;padding:0 auto;display:none;position:absolute;left:0;top:0;background-color:#fff;z-index:99}
.nav-search-inner{width:70%;height:70px;margin:auto;display:table}
.navigation-portrait .nav-search-inner{height:48px}
.nav-search-inner input[type=text],.nav-search-inner input[type=search]{height:70px;width:100%;margin:0;padding:0 12px;font-size:26px;text-align:center;color:#343a40;outline:none;line-height:70px;border:none;background-color:transparent;-webkit-transition:all .3s;transition:all .3s}
.navigation-portrait .nav-search-inner input[type=text],.navigation-portrait .nav-search-inner input[type=search]{height:48px;font-size:18px;line-height:48px}
.nav-search-close-button{width:28px;height:28px;display:block;position:absolute;right:20px;top:20px;line-height:normal;color:#343a40;font-size:20px;cursor:pointer;text-align:center}
.navigation-portrait .nav-search-close-button{top:10px;right:14px}
.nav-button{margin:18px 15px 0;padding:8px 14px;display:inline-block;color:#fff;font-size:14px;text-align:center;text-decoration:none;border-radius:4px}
.nav-button:hover,.nav-button:focus{color:#fff;text-decoration:none}
.navigation-portrait .nav-button{width:calc(100% - 52px);margin:17px 26px}
.nav-text{margin:25px 15px;display:inline-block;color:#343a40;font-size:14px}
.navigation-portrait .nav-text{width:calc(100% - 52px);margin:12px 26px 0}
.navigation-portrait .nav-text+ul{margin-top:15px}
.nav-dropdown{min-width:180px;margin:0;padding:0;display:none;position:absolute;list-style:none;z-index:98;white-space:nowrap}
.navigation-portrait .nav-dropdown{width:100%;position:static;left:0}
.nav-dropdown .nav-dropdown{left:100%}
.nav-menu>li>.nav-dropdown{border-top:solid 1px #f0f0f0}
.nav-dropdown>li{width:100%;float:left;clear:both;position:relative;text-align:left}
.nav-dropdown>li>a{width:100%;padding:16px 20px;display:inline-block;text-decoration:none;float:left;font-size:13px;color:#343a40;background-color:#fdfdfd;}
.nav-dropdown>li:hover>a,.nav-dropdown>li.focus>a{color:#27ae60}
.nav-dropdown.nav-dropdown-left{right:0}
.nav-dropdown>li>.nav-dropdown-left{left:auto;right:100%}
.navigation-landscape .nav-dropdown.nav-dropdown-left>li>a{text-align:right}
.navigation-portrait .nav-dropdown>li>a{padding:12px 20px 12px 30px}
.navigation-portrait .nav-dropdown>li>ul>li>a{padding-left:50px}
.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a{padding-left:70px}
.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a{padding-left:90px}
.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a{padding-left:110px}
.nav-dropdown .submenu-indicator{right:15px;top:10px;position:absolute}
.navigation-portrait .nav-dropdown .submenu-indicator{right:0;top:0}
.nav-dropdown .submenu-indicator .submenu-indicator-chevron{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.nav-dropdown>li:hover>a .submenu-indicator-chevron,.nav-dropdown>.focus>a .submenu-indicator-chevron{border-color:transparent #27ae60 #27ae60 transparent}
.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator{left:10px}
.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron{-webkit-transform:rotate(135deg);transform:rotate(135deg)}
.nav-dropdown-horizontal{width:100%;left:0;background-color:#fdfdfd;border-top:solid 1px #f0f0f0}
.nav-dropdown-horizontal .nav-dropdown-horizontal{width:100%;top:100%;left:0}
.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal{border-top:none}
.nav-dropdown-horizontal>li{width:auto;clear:none;position:static}
.navigation-portrait .nav-dropdown-horizontal>li{width:100%}
.nav-dropdown-horizontal>li>a{position:relative}
.nav-dropdown-horizontal .submenu-indicator{height:18px;top:11px;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.navigation-portrait .nav-dropdown-horizontal .submenu-indicator{height:42px;top:0;-webkit-transform:rotate(0deg);transform:rotate(0deg)}
.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.megamenu-panel{width:100%;padding:15px;display:none;position:absolute;font-size:14px;z-index:98;text-align:left;color:inherit;border-top:solid 1px #f0f0f0;background-color:#fdfdfd;box-shadow:0 10px 20px rgba(0,0,0,.075)}
.navigation-portrait .megamenu-panel{padding:25px;position:static;display:block}
.megamenu-panel [class*=container]{width:100%}
.megamenu-panel [class*="container"] [class*="col-"]{padding:0}
.megamenu-panel-half{width:50%}
.megamenu-panel-quarter{width:25%}
.navigation-portrait .megamenu-panel-half,.navigation-portrait .megamenu-panel-quarter{width:100%}
.megamenu-panel-row{width:100%}
.megamenu-panel-row:before,.megamenu-panel-row:after{display:table;content:"";line-height:0}
.megamenu-panel-row:after{clear:both}
.megamenu-panel-row [class*=col-]{display:block;min-height:20px;float:left;margin-left:3%}
.megamenu-panel-row [class*=col-]:first-child{margin-left:0}
.navigation-portrait .megamenu-panel-row [class*=col-]{float:none;display:block;width:100%!important;margin-left:0;margin-top:15px}
.navigation-portrait .megamenu-panel-row:first-child [class*=col-]:first-child{margin-top:0}
.megamenu-panel-row .col-1{width:5.583333333333%}
.megamenu-panel-row .col-2{width:14.166666666666%}
.megamenu-panel-row .col-3{width:22.75%}
.megamenu-panel-row .col-4{width:31.333333333333%}
.megamenu-panel-row .col-5{width:39.916666666667%}
.megamenu-panel-row .col-6{width:48.5%}
.megamenu-panel-row .col-7{width:57.083333333333%}
.megamenu-panel-row .col-8{width:65.666666666667%}
.megamenu-panel-row .col-9{width:74.25%}
.megamenu-panel-row .col-10{width:82.833333333334%}
.megamenu-panel-row .col-11{width:91.416666666667%}
.megamenu-panel-row .col-12{width:100%}
.megamenu-tabs{width:100%;float:left;display:block}
.megamenu-tabs-nav{width:20%;margin:0;padding:0;float:left;list-style:none}
.navigation-portrait .megamenu-tabs-nav{width:100%}
.megamenu-tabs-nav>li>a{width:100%;padding:10px 16px;float:left;font-size:13px;text-decoration:none;color:#343a40;border:solid 1px #eff0f2;outline:0;background-color:#fff}
.megamenu-tabs-nav>li.active a,.megamenu-tabs-nav>li:hover a{background-color:#f5f5f5}
.megamenu-tabs-pane{width:80%;min-height:30px;padding:20px;float:right;display:none;font-size:13px;color:#343a40;border:solid 1px #eff0f2;background-color:#fff}
.megamenu-tabs-pane.active{display:block}
.navigation-portrait .megamenu-tabs-pane{width:100%}
.megamenu-lists{width:100%;display:table}
.megamenu-list{width:100%;margin:0 0 15px;padding:0;display:inline-block; float: left;list-style:none}
.megamenu-list:last-child{margin:0;border:none}
.navigation-landscape .megamenu-list{margin:-15px 0;padding:20px 0;border-right:solid 1px #f0f0f0}
.navigation-landscape .megamenu-list:last-child{border:none}
.megamenu-list>li>a{width:100%;padding:10px 15px;display:inline-block;color:#343a40;text-decoration:none;font-size:13px;}
.megamenu-list>li>a:hover{background-color:#005e00;color:#fff}
.megamenu-list>li.megamenu-list-title>a{font-size:12px;font-weight:600;text-transform:uppercase;color:#343a40}
.megamenu-list>li.megamenu-list-title>a:hover{background-color:transparent}
.navigation-landscape .list-col-2{width:50%}
.navigation-landscape .list-col-3{width:33%}
.navigation-landscape .list-col-4{width:25%}
.navigation-landscape .list-col-5{width:20%}
.nav-menu > li > a{color:#343a40;text-transform:uppercase;}
.nav-dropdown > li > a{color:#343a40;padding:10px 20px;border-bottom:1px solid #f6f6f6;}
.nav-dropdown > li > a:hover,.nav-dropdown > li > a:focus{color:#27ae60;}
.main_header_area.sticky{width:100%;position:fixed;top:0;left:0;background-color:#fff;z-index:9999;box-shadow:0 5px 30px rgba(0,0,0,0.1);}
.transparent-menu{position:absolute;width:100%;left:0;top:0;z-index:99;}
.navigation-portrait .nav-menu > li > a{width:100%;height:auto;padding:10px 10px 10px 30px;}
@media only screen and (min-width:320px) and (max-width:767px){
  .nav-dropdown > li > a,.megamenu-list > li > a{width:65%}
  #web-cursour {
    display: none !important;
    }
}
.threeSteps{ padding: 18px 0; background-color: #fff; }
.threeSteps ul{
    display: flex;
    justify-content: center;
}
.threeSteps ul li{ 
    width: 33%; 
    display: inline-block; 
    position: relative; 
    z-index: 1; 
}
/* .threeSteps ul li:last-child{
    width: auto;
} */
.threeSteps ul li span{    
    text-shadow: 0 0 #000;
    background-color: #fff;
    display: inline-block; 
    width: 28px; 
    height: 28px; 
    line-height: 26px; 
    border-radius: 50px; 
    border: 1px solid #ddd; 
    text-align:center; 
    margin-right: 5px;}
.threeSteps ul li div.text{ 
    background-color: #fff; 
    text-align: center;
    }
    .threeSteps ul li span:before{
        content: "";
        position: absolute;
        width: 51%;
        height: 5px;
        top: 12px;
        background-color: rgb(226, 229, 241);
        border-radius: 8px;
        left: 0;
        z-index: -1;    
    }
    .threeSteps ul li:first-child span:before{
        display: none;
    }
    .threeSteps ul li:last-child span:after{
        display: none;
    }
.threeSteps ul li span:after {
    content: "";
    position: absolute;
    width: 51%;
    height: 5px;
    top: 12px;
    background-color: rgb(226, 229, 241);
    border-radius: 8px;
    left: 50%;
    z-index: -1;
}
.threeSteps ul li span.active:after{
    background-color: GREEN;
}
.threeSteps ul li span.active:before{
    background-color: GREEN;
}
/* .threeSteps ul li:last-child:after{
    display: none;
} */
.threeSteps ul li span.active{
    background-color: #005e00;
    color: #fff;
}
.back_btn{
    color: #404553;
    font-weight: 500;
        text-shadow: 0 0 #000 !important;
}
.back_btn i{ font-size: 14px; }
.EditAddress{
    position: relative;
}
.EditAddress .name{
    background-color: #fff;
    color: #404553;
    text-shadow: 0 0 #000;
    font-weight: 500;
}
.search-location{
    position: absolute;
    left: 16px;
    top: 60px;
    width: calc(100% - 30px);
}
.search-location input{
    border: 1px solid transparent;
    padding: 10px 12px;
    height: 42px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}
.bg-lite1{
    background-color: #f7f7fa;
}
.bg-lite{
    background-color: #f7f7fa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.help-line a{
    color: #404553;
    width: 100%;
}
.help-line a i{
    font-size: 14px;
    border: 1px solid #000;
    border: 100%;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    text-align: center;
    /* padding: 5px; */
    line-height: 26px;
}
.help-line h6{
    font-weight: 500;
    font-size: 16px;
        line-height: 14px;
}

.footer-link h5{
    font-size: 16px;
    font-weight: 600;
        margin-bottom: 10px;
}
.footer-link a{
    font-size: 14px;
    color: rgb(64, 69, 83);
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}
.h5{
        font-size: 16px;
    font-weight: 600;
        margin-bottom: 10px;
}

.sociallinks a{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100%;
    line-height: 40px;
    background-color: #005e00;
}
.sociallinks a:hover{
    background-color: #000;
}
.sociallinks a i{
    color: #fff;
}

.footer a{
    font-size: 14px;
    color: rgb(64, 69, 83);
    display: inline-block;
    margin-bottom: 7px;
}

.phone-box{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    padding: 50px 0 0 0;
    border-radius: 2px;
    border: 1px solid rgb(226, 229, 241);
    text-align: center;
}
.phone-box h5{
    font-weight: 600;
}
.enterNumber{
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
}
.enterNumber input{
    width: 55px;
    height: 55px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    margin: 2px;
}


#preloader{overflow:hidden;background-color:#fff;height:100%;left:0;position:fixed;top:0;width:100%;z-index:999999;}
.classy-load{-webkit-animation:2000ms linear 0s normal none infinite running classy-load;animation:2000ms linear 0s normal none infinite running classy-load;background:transparent none repeat scroll 0 0;border-color:#dddddd #dddddd #111111;border-radius:50%;border-style:solid;border-width:2px;height:40px;left:calc(50% - 20px);position:relative;top:calc(50% - 20px);width:40px;z-index:9;}
@-webkit-keyframes classy-load{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes classy-load{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

.main_header_area{
    background-color: #fff;
}
.navigation{width:100%;height:70px;display:table;position:relative;font-family:inherit;background-color:#fff;}
.navigation *{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
.navigation-portrait{height:48px}
.navigation-fixed{position:fixed;top:0;left:0;z-index:19998}
.navigation-hidden{width:0!important;height:0!important;margin:0!important;padding:0!important}
.align-to-right{float:right}
.nav-header{float:left}
.navigation-hidden .nav-header{display:none}
.nav-brand{line-height:70px;padding:0;color:#343a40;font-size:24px;text-decoration:none!important}
.nav-brand:hover,.nav-brand:focus{color:#343a40}
.navigation-portrait .nav-brand{font-size:18px;line-height:48px}
.nav-logo>img{height:48px;margin:11px auto;padding:0 15px;float:left}
.nav-logo:focus>img{outline:initial}
.navigation-portrait .nav-logo>img{height:36px;margin:6px auto 6px 15px;padding:0}
.nav-toggle{z-index:1000; left:0;width:30px;height:30px;padding:6px 2px 0;position:absolute;top:-35px;margin-top:-14px;right:15px;display:none;cursor:pointer}
.nav-toggle:before{content:"";position:absolute;width:24px;height:2px;background-color:#fff;border-radius:10px;box-shadow:0 .5em 0 0 #ffffff,0 1em 0 0 #ffffff}
.navigation-portrait .nav-toggle{display:block}
.navigation-portrait .nav-menus-wrapper{width:320px;height:100%;top:0;left:-400px;position:fixed;background-color:#fff;z-index:20000;overflow-y:auto;-webkit-overflow-scrolling:touch;-webkit-transition-duration:.2s;transition-duration:.2s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right{left:auto;right:-400px}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open{left:0}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open{left:auto;right:0}
.nav-menus-wrapper-close-button{width:30px;height:40px;margin:10px 7px;display:none;float:right;color:#343a40;font-size:26px;cursor:pointer}
.navigation-portrait .nav-menus-wrapper-close-button{display:block}
.nav-menu{margin:0;padding:0;list-style:none;line-height:normal;font-size:0}
.navigation-portrait .nav-menu{width:100%}
.navigation-landscape .nav-menu.nav-menu-centered{float:none;text-align:center}
.navigation-landscape .nav-menu.nav-menu-centered>li{float:none}
.nav-menu>li{display:inline-block;float:left;text-align:left}
.navigation-portrait .nav-menu>li{width:100%;position:relative;border-top:solid 1px #f0f0f0}
.navigation-portrait .nav-menu>li:last-child{border-bottom:solid 1px #f0f0f0}
.nav-menu+.nav-menu>li:first-child{border-top:none}
.nav-menu>li>a{    font-weight: 800;height:70px;padding:26px 25px;display:inline-block;text-decoration:none;font-size:14px;color:#343a40;-webkit-transition:color .3s,background .3s;transition:color .3s,background .3s}
.navigation-portrait .nav-menu>li>a{width:100%;height:auto;padding:12px 15px 12px 26px}
.nav-menu>li:hover>a,.nav-menu>li.active>a,.nav-menu>li.focus>a{color:#27ae60}
.nav-menu>li>a>i,.nav-menu>li>a>[class*=ion-]{width:18px;height:16px;line-height:16px;-webkit-transform:scale(1.4);transform:scale(1.4)}
.nav-menu>li>a>[class*=ion-]{width:16px;display:inline-block;-webkit-transform:scale(1.8);transform:scale(1.8)}
.navigation-portrait .nav-menu.nav-menu-social{width:100%;text-align:center}
.nav-menu.nav-menu-social>li{text-align:center;float:none;border:none!important}
.navigation-portrait .nav-menu.nav-menu-social>li{width:auto}
.nav-menu.nav-menu-social>li>a>[class*=ion-]{font-size:12px}
.nav-menu.nav-menu-social>li>a>.fa{font-size:14px}
.navigation-portrait .nav-menu.nav-menu-social>li>a{padding:15px}
.submenu-indicator{margin-left:6px;margin-top:2px;float:right;-webkit-transition:all .2s;transition:all .2s}
.navigation-portrait .submenu-indicator{width:54px;height:44px;margin-top:0;position:absolute;top:0;right:0;text-align:center;z-index:20000}
.submenu-indicator-chevron{height:8px;width:8px;display:block;border-style:solid;border-width:0 1px 1px 0;border-color:transparent #70798b #70798b transparent;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:border .2s;transition:border .2s}
.navigation-portrait .submenu-indicator-chevron{position:absolute;top:18px;left:24px}
.nav-menu>li:hover>a .submenu-indicator-chevron,.nav-menu>.active>a .submenu-indicator-chevron,.nav-menu>.focus>a .submenu-indicator-chevron{border-color:transparent #967adc #967adc transparent}
.navigation-portrait .submenu-indicator.submenu-indicator-up{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.nav-overlay-panel{width:100%;height:100%;top:0;left:0;position:fixed;display:none;z-index:19999}
.no-scroll{width:100%;height:100%;overflow:hidden}
.nav-search{height:70px;float:right;z-index:19998}
.navigation-portrait .nav-search{height:48px;padding:0 10px;margin-right:52px}
.navigation-hidden .nav-search{display:none}
.nav-search-button{width:70px;height:70px;line-height:70px;text-align:center;cursor:pointer;background-color:#fbfcfd}
.navigation-portrait .nav-search-button{width:50px;height:48px;line-height:46px;font-size:22px}
.nav-search-icon{width:14px;height:14px;margin:2px 8px 8px 4px;display:inline-block;vertical-align:middle;position:relative;color:#343a40;text-align:left;text-indent:-9999px;border:2px solid;border-radius:50%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-search-icon:after,.nav-search-icon:before{content:'';pointer-events:none}
.nav-search-icon:before{width:2px;height:11px;top:11px;position:absolute;left:50%;border-radius:0 0 1px 1px;box-shadow:inset 0 0 0 32px;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.nav-search-button:hover .nav-search-icon{color:#27ae60}
.nav-search>form{width:100%;height:100%;padding:0 auto;display:none;position:absolute;left:0;top:0;background-color:#fff;z-index:99}
.nav-search-inner{width:70%;height:70px;margin:auto;display:table}
.navigation-portrait .nav-search-inner{height:48px}
.nav-search-inner input[type=text],.nav-search-inner input[type=search]{height:70px;width:100%;margin:0;padding:0 12px;font-size:26px;text-align:center;color:#343a40;outline:none;line-height:70px;border:none;background-color:transparent;-webkit-transition:all .3s;transition:all .3s}
.navigation-portrait .nav-search-inner input[type=text],.navigation-portrait .nav-search-inner input[type=search]{height:48px;font-size:18px;line-height:48px}
.nav-search-close-button{width:28px;height:28px;display:block;position:absolute;right:20px;top:20px;line-height:normal;color:#343a40;font-size:20px;cursor:pointer;text-align:center}
.navigation-portrait .nav-search-close-button{top:10px;right:14px}
.nav-button{margin:18px 15px 0;padding:8px 14px;display:inline-block;color:#fff;font-size:14px;text-align:center;text-decoration:none;border-radius:4px}
.nav-button:hover,.nav-button:focus{color:#fff;text-decoration:none}
.navigation-portrait .nav-button{width:calc(100% - 52px);margin:17px 26px}
.nav-text{margin:25px 15px;display:inline-block;color:#343a40;font-size:14px}
.navigation-portrait .nav-text{width:calc(100% - 52px);margin:12px 26px 0}
.navigation-portrait .nav-text+ul{margin-top:15px}
.nav-dropdown{min-width:180px;margin:0;padding:0;display:none;position:absolute;list-style:none;z-index:98;white-space:nowrap}
.navigation-portrait .nav-dropdown{width:100%;position:static;left:0}
.nav-dropdown .nav-dropdown{left:100%}
.nav-menu>li>.nav-dropdown{border-top:solid 1px #f0f0f0}
.nav-dropdown>li{width:100%;float:left;clear:both;position:relative;text-align:left}
.nav-dropdown>li>a{width:100%;padding:16px 20px;display:inline-block;text-decoration:none;float:left;font-size:13px;color:#343a40;background-color:#fdfdfd;}
.nav-dropdown>li:hover>a,.nav-dropdown>li.focus>a{color:#27ae60}
.nav-dropdown.nav-dropdown-left{right:0}
.nav-dropdown>li>.nav-dropdown-left{left:auto;right:100%}
.navigation-landscape .nav-dropdown.nav-dropdown-left>li>a{text-align:right}
.navigation-portrait .nav-dropdown>li>a{padding:12px 20px 12px 30px}
.navigation-portrait .nav-dropdown>li>ul>li>a{padding-left:50px}
.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a{padding-left:70px}
.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a{padding-left:90px}
.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a{padding-left:110px}
.nav-dropdown .submenu-indicator{right:15px;top:10px;position:absolute}
.navigation-portrait .nav-dropdown .submenu-indicator{right:0;top:0}
.nav-dropdown .submenu-indicator .submenu-indicator-chevron{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.nav-dropdown>li:hover>a .submenu-indicator-chevron,.nav-dropdown>.focus>a .submenu-indicator-chevron{border-color:transparent #27ae60 #27ae60 transparent}
.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator{left:10px}
.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron{-webkit-transform:rotate(135deg);transform:rotate(135deg)}
.nav-dropdown-horizontal{width:100%;left:0;background-color:#fdfdfd;border-top:solid 1px #f0f0f0}
.nav-dropdown-horizontal .nav-dropdown-horizontal{width:100%;top:100%;left:0}
.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal{border-top:none}
.nav-dropdown-horizontal>li{width:auto;clear:none;position:static}
.navigation-portrait .nav-dropdown-horizontal>li{width:100%}
.nav-dropdown-horizontal>li>a{position:relative}
.nav-dropdown-horizontal .submenu-indicator{height:18px;top:11px;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.navigation-portrait .nav-dropdown-horizontal .submenu-indicator{height:42px;top:0;-webkit-transform:rotate(0deg);transform:rotate(0deg)}
.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.megamenu-panel{width:100%;padding:15px;display:none;position:absolute;font-size:14px;z-index:98;text-align:left;color:inherit;border-top:solid 1px #f0f0f0;background-color:#fdfdfd;box-shadow:0 10px 20px rgba(0,0,0,.075)}
.navigation-portrait .megamenu-panel{padding:25px;position:static;display:block}
.megamenu-panel [class*=container]{width:100%}
.megamenu-panel [class*="container"] [class*="col-"]{padding:0}
.megamenu-panel-half{width:50%}
.megamenu-panel-quarter{width:25%}
.navigation-portrait .megamenu-panel-half,.navigation-portrait .megamenu-panel-quarter{width:100%}
.megamenu-panel-row{width:100%}
.megamenu-panel-row:before,.megamenu-panel-row:after{display:table;content:"";line-height:0}
.megamenu-panel-row:after{clear:both}
.megamenu-panel-row [class*=col-]{display:block;min-height:20px;float:left;margin-left:3%}
.megamenu-panel-row [class*=col-]:first-child{margin-left:0}
.navigation-portrait .megamenu-panel-row [class*=col-]{float:none;display:block;width:100%!important;margin-left:0;margin-top:15px}
.navigation-portrait .megamenu-panel-row:first-child [class*=col-]:first-child{margin-top:0}
.megamenu-panel-row .col-1{width:5.583333333333%}
.megamenu-panel-row .col-2{width:14.166666666666%}
.megamenu-panel-row .col-3{width:22.75%}
.megamenu-panel-row .col-4{width:31.333333333333%}
.megamenu-panel-row .col-5{width:39.916666666667%}
.megamenu-panel-row .col-6{width:48.5%}
.megamenu-panel-row .col-7{width:57.083333333333%}
.megamenu-panel-row .col-8{width:65.666666666667%}
.megamenu-panel-row .col-9{width:74.25%}
.megamenu-panel-row .col-10{width:82.833333333334%}
.megamenu-panel-row .col-11{width:91.416666666667%}
.megamenu-panel-row .col-12{width:100%}
.megamenu-tabs{width:100%;float:left;display:block}
.megamenu-tabs-nav{width:20%;margin:0;padding:0;float:left;list-style:none}
.navigation-portrait .megamenu-tabs-nav{width:100%}
.megamenu-tabs-nav>li>a{width:100%;padding:10px 16px;float:left;font-size:13px;text-decoration:none;color:#343a40;border:solid 1px #eff0f2;outline:0;background-color:#fff}
.megamenu-tabs-nav>li.active a,.megamenu-tabs-nav>li:hover a{background-color:#f5f5f5}
.megamenu-tabs-pane{width:80%;min-height:30px;padding:20px;float:right;display:none;font-size:13px;color:#343a40;border:solid 1px #eff0f2;background-color:#fff}
.megamenu-tabs-pane.active{display:block}
.navigation-portrait .megamenu-tabs-pane{width:100%}
.megamenu-lists{width:100%;display:table}
.megamenu-list{width:100%;margin:0 0 15px;padding:0;display:inline-block;float:left;list-style:none}
.megamenu-list:last-child{margin:0;border:none}
.navigation-landscape .megamenu-list{margin:-15px 0;padding:20px 0;border-right:solid 1px #f0f0f0}
.navigation-landscape .megamenu-list:last-child{border:none}
.megamenu-list>li>a{width:100%;padding:10px 15px;display:inline-block;color:#343a40;text-decoration:none;font-size:15px;}
.megamenu-list>li>a:hover{background-color:#005e00;color:#fff}
.megamenu-list>li.megamenu-list-title>a{font-size:12px;font-weight:600;text-transform:uppercase;color:#343a40}
.megamenu-list>li.megamenu-list-title>a:hover{background-color:transparent}
.navigation-landscape .list-col-2{width:50%}
.navigation-landscape .list-col-3{width:33%}
.navigation-landscape .list-col-4{width:25%}
.navigation-landscape .list-col-5{width:20%}
.nav-menu > li > a{color:#343a40;text-transform:uppercase;}
.nav-dropdown > li > a{color:#343a40;padding:10px 20px;border-bottom:1px solid #f6f6f6;}
.nav-dropdown > li > a:hover,.nav-dropdown > li > a:focus{color:#27ae60;}
.main_header_area.sticky{width:100%;position:fixed;top:0;left:0;background-color:#fff;z-index:9999;box-shadow:0 5px 30px rgba(0,0,0,0.1);}
.transparent-menu{position:absolute;width:100%;left:0;top:0;z-index:99;}
.navigation-portrait .nav-menu > li > a{width:100%;height:auto;padding:10px 10px 10px 30px;}

.logincontinaer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
        background: #f7f7f7;
   /* background: #0250c5;
    background: -webkit-linear-gradient(bottom,#0250c5,#d43f8d);
    background: -o-linear-gradient(bottom,#0250c5,#d43f8d);
    background: -moz-linear-gradient(bottom,#0250c5,#d43f8d);
    background: linear-gradient(bottom,#0250c5,#d43f8d);*/
    position: fixed;
    z-index: 1;
}
    div#logo {
    margin: 12px auto;
    font-size: 36px;
    font-weight: 500;
}
   div#logo  a{
    color: #005e00 !important;
    font-weight: 600;
   }
.loginwrap{
     position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fdfdfd;
    padding: 0 50px 30px 50px;
    width: 100%;
    border-radius: 10px;
    max-width: 500px;
}
.loginwrap input{
    height: 50px;
    text-align: left;
    color: #202020;
    font-weight: 500;
    font-size: 12px;
}
.loginwrap .btn{
    height: 50px;
        border-radius: 50px;
    margin: 18px 0;
    background: #005e00;
    color: #fff;
}
body{
            font-family: inherit;
        }

h1, h2, h3, h4, h5, h6{
                font-family: inherit;
}
.logincontinaer:before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(https://colorlib.com/etc/lf/Login_v11/images/img-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icon-login{
    position: relative;
}
.icon-login i{
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 48px;
    color: #005e00;
    opacity: .5;
}

.mayaccount{
    border: none;
}
.mayaccount a{
    width: 100%;
    /* width: 33.33%; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none !important;
    background-color: #eaeaea;
    font-weight: 600;
    font-size: 16px;
    color: #343a40;
    border-radius: 0px !important;
}
.mayaccount a.active{
    background-color: #005e00 !important;
    color: #fff !important;
}
#nav-tabContent{
    /* border: 1px solid #eaeaea; */
    padding: 20px;
}

.product_image {
    height: 145px;
}

.navbar.bottom_navbar {
    display: none;
}


#fc_frame, #fc_frame.fc-widget-normal {
bottom: 86px !important;
}


ul.sidebar-category-sub li {
    padding-left: 15px;
}
.filter-mob ul.nav.sidebar-menu{
    padding: 0;
    align-items: flex-start;
    align-content: stretch;
} 
.filter-mob ul.nav.sidebar-menu a{
    display: block;
    padding: 8px;
    margin: 4px;
}
ul.nav.sidebar-menu{
    flex-direction: column!important;
}
ul.sidebar-menu li a {
    display: block;
    padding: 8px;
    margin: 4px;
}

ul.sidebar-menu li a:hover {
    background: #73c9a1;
}

ul.sidebar-menu li a.active {
    background: #73c9a1;
}

ul.sidebar-menu li a {
    color: #005e00;
}

    @media only screen and (min-width:320px) and (max-width:767px){
    .nav-dropdown > li > a,.megamenu-list > li > a{width:65%}
    .loginwrap{
            border-radius: 0 !important;
        }
        .logincontinaer{
            position: relative !important;
        }
    }


    @media only screen and (max-width: 1000px){
        .page_menu_content{
            position: fixed;
            top: 0px;
            height: 1000px !important;
            z-index: 100;
            left: -350px;
            transition: all 0.5s;
        }
        .hidePanle{
        position: absolute;
        right: 10px;
        top: 0px;
        color: #fff;
        z-index: 100;
        width: 25px;
        height: 25px;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50px;
        }
        .showDiv{
            left: 0;
        }
        .navigation-portrait{
            height: inherit;
        }
        .logo{
            margin-left: 0px;
            width: 100%;
        }
        .logo img{
            width: 79px;
            height: auto;
        }

    }
    @media only screen and (max-width: 768px) {
        .loginwrap{
            position: inherit;
            top: inherit;
            left: inherit;
            transform: inherit;
                padding: 0 30px 30px 30px;
        }

        .design-arrow .owl-theme .owl-controls .owl-buttons .owl-next {
            display: none;
        }

        .design-arrow .owl-theme .owl-controls .owl-buttons .owl-prev {
            display: none;
        }
    }
    @media (min-width: 768px){
        .container {
        max-width: 830px;
        
        }
    }    
    @media (min-width: 1200px) {
        .container {
        max-width: 1300px !important
        }
    }
    
    @media only screen and (max-width: 1199px) {
        .main_nav_dropdown li {
            margin-right: 30px
        }
        
        .main_nav_dropdown li a {
            font-size: 16px
        }
    }
    
    @media only screen and (max-width: 991px) {
	.cat_burger span:nth-child(2) {
        top: 11px;
    }
    .cat_burger span:nth-child(3) {
        top: 22px;
    }
    .burger_menu_zee {
        display: inline-block !important;
        top: 25px;
        margin-right: 5px;
        width: 27px;
    }
    .header_search {
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    }
    
    .custom_dropdown {
    text-align: left
    }
    
    .main_nav {
    margin-top: 2px;
    margin-bottom: 2px;
	display: none;
    }
    
    .main_nav_menu {
    display: none
    }
    
    /* .logo_container,
    .wishlist_cart {
    height: 125px
    } */
    
    .main_nav_content {
    background: #005e00
    }
    
    .menu_trigger_container {
    display: block
    }
    
    .top_bar {
    height: 40px
    }
    
    .top_bar_contact_item {
    font-size: 12px;
    margin-right: 20px;
    line-height: 40px
    }
    
    .top_bar_contact_item a {
    font-size: 12px;
    line-height: 40px
    }
    
    .top_bar_icon {
    margin-right: 4px
    }
    
    .top_bar_icon img {
    width: 70%
    }
    
    .top_bar_menu {
    display: none
    }
    
    .top_bar_user a {
    font-size: 12px;
    line-height: 40px
    }
    
    .user_icon {
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    width: 12px
    }
    }
    
    @media only screen and (max-width: 767px) {
        
        .navbar.bottom_navbar {
            display: flex;
            overflow: visible;
            background-color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
            box-shadow: rgb(0 0 0 / 10%) 0px -1px 8px;
            -webkit-tap-highlight-color: transparent;
        }
        
        .navbar.bottom_navbar a {
            float: left;
            display: grid;
            color: black;
            text-align: center;
            padding: 0px 0px;
            text-decoration: none;
            font-size: 14px;
        }

        .navbar.bottom_navbar a > i{
            font-size: 32px;
            padding: 2px;
        }
        
        /* .navbar.bottom_navbar a:hover {
            background: #f1f1f1;
            color: black;
        } */
        
        .navbar.bottom_navbar a:focus {
            color:  #005e00;
        }

        .header_search {
        display: none
        }
        
        .page_menu_search {
        display: block
        }
        
        .main_nav {
        margin-top: 0px
        }

        .header_main.mobile_header {
            display:block;
        }

        .product_item {
            max-width: 174px;
        }

        .categories-wrapper {
            justify-content: space-around;
        }

        .cart_count {
            position: absolute;
            bottom: -1px;
            background: #ffffff;
            text-align: center;
            top: 16px;
            right: 11px;
            border-radius: 100%;
            background-color: rgb(56, 102, 223);
            color: white !important;
            font-size: 13px;
        }
    }
        
    @media only screen and (max-width: 575px) {
        h2 {
        font-size: 24px
        }
        
        p {
        font-size: 13px
        }
        
        .top_bar {
        display: none
        }
        
        /* .logo_container,
        .wishlist_cart {
        height: 58px
        } */
        #mobile-cursour{
            display: block;
            width: 100%;
        }
        #web-cursour {
            display: none !important;
        }
        .logo a {
        color:#ffffff;
        font-size: 24px
        }
        
        .cat_burger {
            width: 18px;
            margin-right: 5px;
            /* height: 12px */
            display: inline-block;
            top: 20%;
        }

        .cat_burger span:nth-child(2) {
            top: 7px
        }

        .cat_burger span:nth-child(3) {
            top: 13px
        }
        
        .menu_trigger_text {
        font-size: 13px;
        margin-right: 10px
        }
        
        .wishlist {
        margin-right: 23px
        }
        
        .wishlist_content {
        margin-left: 6px
        }
        
        .wishlist_text {
        display: none
        }
        
        .cart_text {
        display: none
        }
        
        .wishlist_text a,
        .cart_text a {
        font-size: 14px
        }
        
        .wishlist_count,
        .cart_price {
        font-size: 12px
        }
        
        .wishlist_icon {
        width: 20px
        }
        
        .cart_content {
        margin-left: 18px
        }
        
        .cart_icon {
        width: 17px
        }
        
        .cart_count {
        width: 21px;
        height: 21px
        }
        
        .cart_count span {
        line-height: 21px;
        color: white;
        }
        
        .top_bar_user {
        margin-left: 0px
        }
        
        .header_search {
        display: block;
        }
        
        .main_nav {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px
        }
        
        .main_nav_content {
        height: 35px
        }
        
        .menu_trigger_container {
        padding-right: 15px
        }
        
        .page_menu_item>a {
        font-size: 12px
        }
        
        .page_menu_selection li a {
        font-size: 12px
        }
        
        .button {
        height: 32px
        }
        
        .button a {
        font-size: 12px;
        line-height: 32px;
        padding-left: 25px;
        padding-right: 25px
        }



        .owl-item { width : 164px !important;padding: 0px 2px 0px 2px; }

        /* .logo {
            margin-left: 0px;
        } */

        .header_main.mobile_header {
            display:block;
        }

        .header_main {
            display:none;
        }

        .navigation-portrait .nav-toggle{
            display: none !important;
        }

        .header_search_form_container {
            height: 38px;
        }
    }
    /*=========Mobile Category page Style=========*/
    /* ========================================== */
    .mob-catg-main{
        width: 100%;
        height: calc(100vh - 132px);
        background-color: #F7F7FA;
        padding: 8px 0;
        position: relative;
    }

    .custom-row{
        display: flex;
        flex-direction: row;
    }
    .custom-row .custom-col-1{
        max-width: 102px;
    }
    .mob-sidebar{
        background-color: #f0f2f7;
        transition: all .3s ease-out;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        height: calc(100vh - 132px);

    }
    .mob-sidebar-title-wrapper{
      border-left:2px solid #404553 ;
    }
    .mob-sidebar-title{
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #404553;
        padding: 12px;
        background-color: #ffffff;
        text-align: center;
    }
    .mob-sidebar-menu ul{
        list-style: none;
        padding: 0 0 12px;
        margin: 0;
    }
    .mob-sidebar-menu ul li{
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
        font-weight: 500;
        color: #404553;
        text-align: center;
        padding: 12px;
        white-space: normal;
    }
    .mob-sidebar-menu ul li:hover{
        opacity: .7;
    }
    .mob-sidebar-menu ul li a{
        color: #404553;
    }
    .mob-sidebar-menu ul li button{
        color: #404553;
        border: none;
        outline: none;
    }

    .custom-row .custom-col-2{
        display: none;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-around;
        align-content: flex-start;
        width: 100%;
        padding: 0 6px;
        background-color: #f0f2f7;
        transition: all .3s ease-out;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        height: calc(100vh - 132px);
    }
    .custom-row .custom-col-2#catg-tab-1{
        display: flex;
    }
    .main-catg-title{
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
        font-weight: bold;
        color: #404553;
        text-align: left;
        padding: 8px;
        white-space: normal;
        width: 100%;
    }
    .mob-category-banner{
        width: 100%;
        height: auto;
        padding: 0 4px 8px;
    }
    .mob-category-banner img{
        max-width: 100%;
        max-height: 100%;

    }
    .catg-card{
        display: flex;
        flex-direction: column;
        width: 31%;
        min-height: 112px;
        margin: 0 0 6px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 1px 1px 10px rgb(85, 120, 210 , .1);
    }
    .catg-img{
        width: 100%;
        height: auto;
    }
    .catg-img img{
        max-width: 100%;
        max-height: 100%;
    }
    .catg-text{
        width: 100%;
        height: auto;
    }
    .catg-text h3{
       font-size: 14px;
       line-height: 18px;
       font-style: normal;
       color :#404553;
        text-align: center;
        margin: 0;
        padding: 2px;
    }
    .panel-group{
        width: 100%;
        margin-bottom: 8px;
    }
    .panel-group .panel-heading a {
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
        display: block;
        padding: 20px 30px;
        text-decoration: none;
        position: relative;
        color: #001837;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        background-color: #fff;
      }
      .panel-group .panel-heading a h2{
          margin: 0;
      }
      .panel-group .panel-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-around;
        align-content: flex-start;
        width: 100%;
        padding: 8px 0;
      }
      @media (max-width: 576px) {
        .panel-group .panel-heading a {
          padding: 8px;
          font-size: 14px;
        }
      }
      
      .panel-group .panel-heading a:after {
        font-family: "Font Awesome 5 Free";
        content: "\f106";
        float: right;
        font-size: 20px; 
        
      }
      
      .panel-group .panel-heading a.collapsed:after {
        content: "\f107";
      }

      .catg-brand{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-around;
        align-content: flex-start;
        width: 100%;
        padding: 8px 0;
      }
      .main-catg-title-section{
        width: 100%;
        height: auto;
      }
      .main-catg-title-section .brand-title{ 
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
        font-weight: bold;
        color: #404553;
        text-align: left;
        padding: 8px;
        white-space: normal;
        width: 100%;
      }
      .brand-card{
        width: 31%;
        min-height: auto;
        margin: 0 0 6px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 1px 1px 10px rgb(85, 120, 210 , .1);
    }
        /* ========Media Queries for Container======== */
	@media (min-width: 576px){
		.container {
			max-width: 100% !important;
		}
	}
	@media (min-width: 768px){
		.container {
			max-width: 1440px !important;
		}
	}
    
div .text-decoration-non div.p-1 {
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn-login{
padding: 12px 32px;
align-self: center;
}
.btn-login:hover{
    opacity: .8;
}
.catg-sort{
    display: flex;
    flex-direction: row;

}
.sort-text{
    font-size: 14px;
    font-style: normal;
}
.sort-btn{
    background-color: #fff;
    border: none;
    color: #000;
}
.catg-banner{
    width: 100%;
    margin-bottom: 8px;
    grid-column: 1/-1;
}
.catg-banner img{
    width: 100%;
}
.catg-filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.catg-filters .hideshow-web{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
}
.catg-filters  .hideshow-mob{
    display: none;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}
@media (max-width:767px){
    .catg-filters .hideshow-web{
        display: none;
    }
    .catg-filters .hideshow-mob{
        display: flex;
    }
    .hideshow-web {
        display:none;
    }
    .main_header_area{
        display: none;
    }
}
.catg-filters ul{
    list-style: none;
    padding: 16px;
    position: relative;
}
.catg-filters .hideshow-mob ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}
.catg-filters .filter-mob ul li {
    
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: flex-start;
    border-radius: 0;
    border: none;
    width: 100%;
    margin-bottom: 4px;
 }
.catg-filters ul li {
    /* display: inline; */
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(64, 69, 83);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(241, 243, 249);
    font-size: 0.8571rem;
    font-weight: 700;
    
    border-radius: 6px;
    position: relative;
    text-transform: capitalize;
 }
 .catg-filters ul li:last-child{
    background-color: transparent;
    /* color: blue !important; */
 }
 .catg-filters ul li button{
     background-color: #fff;
     border: none;
     outline: none;
     padding: 10px;
     font-size: 12px;
     font-style: normal;
     font-weight: 400px;
 }
 
 .catg-filters ul li button i{
     margin-left:4px;
 }
 .catg-filters ul li:last-child button i{
    margin-left:0;
}
.catg-filters .hideshow-mob ul li button i{
    margin-left:8px ;
}
.catg-filters ul li a img{
    width:80px;
    margin-right: 8px;
}
.sort-wrapper{
    position: fixed;
    height: 100%;
    background-color: #fff;
    width: 300px;
    top: 0;
    right: 0;
    padding: 16px;
    vertical-align: top;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}
.sort-show{
    transform: translateX(0);
}
.sort-hide{
    transform: translateX(100%);
}
.sort-wrapper button{
    width: max-content;
    outline: none;
    background-color: white;
    border:none;
    
}
.sort-wrapper a{
    margin: 16px 8px;
    padding: 8px 24px;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-style: normal;
    background-color: #f8f9fa;
}
.filter-mob{
    position: fixed;
    height: 100%;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px;
    vertical-align: top;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
    overflow-y: scroll;
}
.filter-show{
    transform: translateX(0);
}
.filter-hide{
    transform: translateX(-100%);
}
.filter-mob >button{
    width: max-content;
    margin-left: auto;
    margin-bottom: 8px;
    background-color: white;
    border: none;
}

.filter-mobi ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.myaccount-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #e5e5e5;
    position: fixed;
    overflow: scroll;
    top: 0;
    padding-bottom: 100px;
}

.mob-botm-copyright
{
    display: none;
}



@media (min-width:768px){
    .myaccount-wrapper{
        display: none;
    }
}
.myaccount-wrapper.hidme{
    transform: translateY(100%);
    display: none;
}
.myaccount-wrapper.showme{
    transform: translateY(0%);
    display: flex;
}
.welcom-top{
    display:flex;
    flex-direction: row;
    padding: 100px 0 16px;
    width: 100%;
    justify-content: center;
}
.accounts-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;    
    background-color: #fff;
}
.accounts-wrapper .circle-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    align-items: center;
}
.accounts-wrapper .circle-cards .avtr{
width: 65px;
height: 65px;
background-color: #4d9573;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 4px;
color: #fff;
position: relative;
}
.accounts-wrapper .circle-cards .avtr i{
    font-size: 32px;
}

.accounts-wrapper .circle-cards .avt-up i:after{
    content: "+";
    position: absolute;
    font-size: 20px;
    top: 25%;
    right:4px;
    background-color: blue;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
}
.myaccount-wrapper .title{
    padding: 16px;
}
.myaccount-wrapper .title h4{
    margin: 0;
}
.myaccount-wrapper .title h2{
 margin: 0; 
 text-transform: uppercase;  
}
.click-go{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}
.click-go .go-title{
display: flex;
flex-direction: row;
/* align-items: center; */
}
.click-go .go-title i{
    color: green;
    font-size: 21px;
}
.click-go .go-title h6{
    margin:0;
    margin-left: 8px;
    margin-right: 8px;
    text-transform: capitalize;
    line-height: 18px;
}
.always-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 8px;
    padding: 16px;
}
.always-contact .always-help {
width: max-content; 
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-decoration: none; 
color: #000;   
padding: 8px;
border-bottom: 1px solid rgb(197, 191, 191);
}
.always-contact .always-help i{
    text-align: center;
    color: green;
    padding: 6px;
    border-radius: 100%;
    border: 1px solid rgb(97, 89, 89);
}
.always-contact .always-help .text >*{
    margin:0;
    margin-left: 8px;
}
.myaccount-wrapper .panel-group .panel-default  .panel-collapse >div{
    background-color: #fff;
}
.myaccount-wrapper .panel-group .panel-default  .panel-collapse >div  ul{
padding: 16px;
width: 100%;
list-style: none;
color: #000;
}
.myaccount-wrapper .panel-group .panel-default  .panel-collapse >div  ul li a{
    margin-bottom: 8px;
    width: 100%;

}
.bottom-menu-wrapper{
    position: relative;
   
}
.bottom_navbar .bottom-logo img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -19px;
    left: 42%;
}
.bottom_navbar .bottom-favicon{
    float: left;
            display: grid;
            color: black;
            text-align: center;
            padding: 0px 0px;
            text-decoration: none;
            font-size: 14px;
            width: 12px;
    height: 12px;
}

.main-empty-cart{
    display: grid;
    justify-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main-empty-cart.coount {
    padding-top: 20px;
    padding-bottom: 0;    
}
.main-empty-cart .empty-img img{
    width: 250px;
    height: 250px;
    margin-bottom: 24px;
}
.main-empty-cart .empty-text h3{
    margin-bottom: 4px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: rgb(64, 69, 83);
    margin-bottom:24px
}
.main-empty-cart .empty-text p{
    color: rgb(64, 69, 83);
    font-size: 16px;
    text-align: center;
}
.main-empty-cart button{
    margin-top: 20px;
    width: 250px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 102, 223);
    border: 1px solid rgb(56, 102, 223);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.main-empty-cart #start_shopping {
    margin-top: 20px;
    width: 250px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 102, 223);
    border: 1px solid rgb(56, 102, 223);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}   
.bottom_navbar .bottom-icon{
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.card.filter-mob .btn-filter-wrap{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
padding: 25px 30px;
}
.privacy-wrap {
 width: 100%;
 padding: 0 50px 15px;
}
@media (max-width:767px){
    .privacy-wrap {
        padding: 0 15px 15px;
    }  
    .mob-botm-copyright{
        display: block;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1px;
        text-decoration: none;
        color: #000;
        background-color: #fff;
    } 
}
.privacy-modify{
    background: linear-gradient(
        90deg
        , rgba(48,205,17,0.3981967787114846) 0%, rgb(34 155 9 / 70%) 50%, rgba(44,237,5,0.39539565826330536) 100%);
    padding: 35px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.privacy-modify p{
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0;
    line-height: 28px;
}
.privacy-modify span{
    font-size: 14px;
    font-weight: 300;    
}
.privacy-wrap h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.privacy-wrap ul{
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 24px;
    padding-left: 15px;
}
.mobile-cart-btn{
    display: flex;
}
@media (max-width:767px){
    .mobile-cart-btn {
        padding-bottom: 5px;
        display: flex;
        position: fixed;
        width: 100%;
        margin: 0 auto;
        bottom: 76px;
        z-index: 999999999;
        left: 0;
        background-color: transparent;
        box-shadow: none;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
.acc-prof-wlcm {
    font-size: 26px;      
    font-weight: 500;
    line-height: 34px;
}
.acc-sgnot {
    color: #222222;
    padding: 4px 8px;
    border-radius: 50px;
    background: #005e001a;
}
.nav-item.nav-link span {
background: #fff;
border-radius: 100%;
padding: 4px;
color: #000;
margin-right: 12;
font-size: 20px;
}
.inout-wraps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: 100%;
}
.inout-wraps.secure {
    grid-template-columns: 1fr 1fr;
}
@media (max-width:767px) {
    .inout-wraps {
        grid-template-columns: 1fr;
    }
    .inout-wraps.secure {
        grid-template-columns: 1fr;
    }   
}
.contct-select {
    color: #14212d;
    background: 0 0;
    border-bottom: 1px solid rgba(13, 20, 29, 0.17) !important;
    width: 100%;
    border: none;
    height: calc(2.25rem + 12px) !important;
    width: 100%;
    font-size: 15px;
    outline: none;
    margin-bottom: 24px;
    -webkit-appearance: listbox;
}
.cntct-submit-btn {
    cursor: pointer;
    display: inline-block;
    align-items: center;
    background: #2569e6;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.cntct-submit-btn:hover {
    color: #fff;
}
.cntct-btnwrap {
    width: fit-content;
    margin-left: auto;
}
.orders-card-header h6,.orders-card-header i {
    color: #005E00;
}
.orders-card-header{
    display: flex;
    justify-content: space-between;
}
.order-status-text {
    text-transform: uppercase;
    margin-top: 20px;
}
span.input-group-btn {
    margin: 3px;
    border: 1px solid #005e00;
    border-radius: 4px;
    background: #005e00;
}
span.input-group-btn button {
color: #fff;
}
.cart-summary-heading{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #000;
    margin: 0px;
    font-weight: 600;
}
.order-details-progress {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 8px;
}
.order-details-progress span{
    margin: 0 1px;
}
.order-details-progress .green{
    height: 3px;
    background: #005e00;
}
.order-details-progress .grey{
    height: 3px;
    background: #aaa;   
}
.image-tag-ordrs {
    max-width: 100%;
    max-height: 100%;
}
.account-address-map {
    max-width: 66px;
    max-height: 66px;
}
.product-wishicon i{
    font-size: 55px;
    color: #666363;
    cursor: pointer;
    opacity: .4;
    
}
.product-wishicon:hover {
    color: grey;
} 
.product-wishicon.active i{
    color: #e42828;
    opacity: 1;
}
.product-wishicon.productwish {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.product-wishicon.productwish i{
    font-size: 35px;
}
.product-style{
    width:auto; 
    height:fit-content; 
    max-width: 100%;
    background-color: #fff;
    position: relative;
}
.product-rating {
    margin-top: 10px
}
.badge {
    display: inline-block;
    padding: 3px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}
.badge-color{
    background: #005e00;
    color:#fff
}
.rating-review {
    color: #5b5b5b;
    font-size: 10px;
    font-weight: 700;
}
.rating-review.product{
    font-size: 12px;
}
.text-pertage {
    font-size: 10px;
    padding: 2px 4px;
    margin: 0 0 0 8px;
    background-color: #005e00;
    color: #fff;
    border-radius:4px;
}

.mb-10 {
    margin-bottom: 10px;
}
.categories-wrapper {
    display: grid!important;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding: 0 10px;
}